.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  margin-bottom: auto;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.title {
  margin: 0px;
  padding: 0px;
}

.baseRunning {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.running {
  background-color: rgb(7, 80, 7);
}
.stopped {
  background-color: rgb(80, 7, 7);
}

@media screen and (max-width: 600px) {
  .container {
    min-height: unset;
  }
}
