.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  min-height: 400px;
}

.title {
  margin-top: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}
.input {
  border-radius: 10px;
  padding: 0.7em;
  border: none;
}

.TaskContainer {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  margin-bottom: 1em;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  margin-right: auto;
}

.TaskName {
  margin-left: 1em;
  margin-right: 2em;
  min-width: 5em;
}

.EditButton {
  max-height: 3em;
}

@media screen and (max-width: 600px) {
  .container {
    min-height: unset;
  }
}

.tooltip {
  text-wrap: wrap;
  max-width: 50%;
}

.completeButton {
  margin-bottom: 0.5em;
}
