.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

p {
  text-align: left;
}
